:root {
  --bg: #ebf6ff;
  --body: #FFF9B1;
  --calc-outline: #894737;
  --calc-blush: #F2C2C3;
  --white: #FAF9F6;
  --calc-command: #ADD7ED;
  --accent-tab: #ADD7ED;
  --grade-button: #B7897B;
  --alert: #dec379;
}