.extra-features {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 5vw;
}

.sticky-tab {
  position: absolute;
  background-color: var(--accent-tab);
  width: 200px;
  height: 45px;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.sticky-note {
  position: relative;
  background-color: var(--body);
  width: 450px;
  height: 330px;
  margin-top: 10vh;
  margin-bottom: 5vh;
}

.quotes {
  position: relative;
  color: var(--calc-outline);
  font-family: "Architects Daughter", Arial;
  font-size: 2rem;
  padding: 40px 80px;
}

.quotes::before {
  content: "When you know better, you do better.";
  animation: words 30s ease infinite;
}

.quotes::after{
  content: "";
  color: var(--calc-outline);
  width: calc(100% + 8px);
  height: 2rem;
  background-color: var(--body);
}

@keyframes words {
  0%, 20% {
    content: "When you know better, you do better."
  }
  21%, 40% {
    content: "Believe you can and you're halfway there."
  }
  41%, 60% {
    content: "Shoot for the stars and land on the moon!"
  }
  61%, 80% {
    content: "Start before you're ready."
  }
  81%, 100% {
    content: "Done is better than perfect."
  }
}

.muffin {
  height: 260px;
  width: auto;
  margin-top: 15px;
}

.github-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 20px;
}

.mini-grade-calc-body {
  position: relative;
  width: 455px;
  height: 260px;
}

.final-grade-text {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  position: absolute;
  bottom: 40px;
  left: 95px;
}

.grade,
.inputs,
.percentage {
  display: flex;
  flex-direction: column;
  text-wrap: none;
}

.grade,
.percentage,
.inputs input {
  font-size: 15px;
  font-family: "Jersey 20", Arial;
  color: var(--calc-outline);
  gap: 10px;
}

.inputs {
  margin-bottom: 10px;
  gap: 5px;
}

.inputs input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--calc-outline);
  width: 130px;
  outline: none;
  text-align: center;
}

.grade p,
.percentage p {
  margin: 0;
}

.final-grade-submit {
  display: flex;
  flex-direction: column;
}

.final-grade-submit button {
  width: 60px;
  font-family: "Jersey 20", Arial;
  font-size: 14px;
  color: var(--white);
  border-radius: 5px;
  background-color: transparent;
  background-color: var(--grade-button);
  border: none;
  position: absolute;
  bottom: 25px;
  right: 98px;
  cursor: pointer;
}